.end-visit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
}

.end-visit-page h1 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.end-visit-page p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}

.end-visit-page button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.end-visit-page button:hover {
  background-color: #0056b3;
}
